html, body {height:100%; width:100%; margin:0px;}

.container {
    width:100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

/* Hard Coded CSS for 1920 x 969 */

.container-left {
    display: grid;
    width:77%;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 210px 210px 210px 209px;
    column-gap: 10px;
    row-gap: 30px;
    padding-top: 40px;
    margin: auto;
}

.container-right {
    display: grid;
    width:81%;
    grid-template-columns: 100%;
    grid-template-rows: 515px 200px 220px;
    row-gap: 10px;
    background-color: #EEEEEE;
    padding-top: 20px;
    margin: auto;
}

.bar {
    width: 600px;
    height: 210px;
    grid-column: span 3;
}

.small {
    width: 200px;
    height: 200px;
}

#small2 {
    justify-self: right;
}

.map {
    width: 925px;
    height: 490px;
    grid-column: span 2;
}

.timeline {
    width: 925px;
    height: 200px;
    grid-column: span 2;
}

.extra {
    /* display: flex;
    flex-direction: row; */
    width: 950px;
    height: 270px;
}

#extra2 {
    justify-self: right;
}

.legend {
    width: 925px;
    height: 100px;
    grid-column: span 2;
}

.legendthird {
    width: 32%;
    height: 100%;
    float: left;
    margin-right: 10px;
}

.legendstart {
    float: left;
}

.legendend {
    float: right;
}

#yeargradient {
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #003f5c, #005a80, #00779a, #0095a5, #00b29f, #00ce88, #00e860, #4aff00);
    
}

#daygradient {
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #16065c, #370a70, #560e82, #761194, #9712a5, #b813b4, #db11c1, #ff0fcd);
}

.nospace {
    padding: 0;
    margin: 0;
}

.phylum-color {
    float: left;
    display: block;
    width: 15px;
    height: 14px;
    margin: 2px;
}

#phylum-color-1 {
    background: #e60049;
}

#phylum-color-2 {
    background: #0bb4ff;
}

#phylum-color-3 {
    background: #50e991;
}

#phylum-color-4 {
    background: #e6d800;
}

#phylum-color-5 {
    background: #9b19f5;
}

#phylum-color-6 {
    background: #ffa300;
}

#phylum-color-7 {
    background: #dc0ab4;
}

#phylum-color-8 {
    background: #b3d4ff;
}

/* https://codepen.io/RRoberts/pen/ZOvwbM */

    .four { width: 32%;}
    
    /* COLUMNS */
    
    .col {
      display: block;
      float:left;
    }
    
    /* FORM */
    .form { width: 600px;}
    
    .form .plan input, .form .payment-plan input, .form .payment-type input{
        display: none;
    }
    
    .form label{
        position: relative;
        color: #fff;
        background-color: #aaaaaa;
        font-size: 26px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        display: block;
        cursor: pointer;
        border: 3px solid transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form label:hover {
        background-color: rgb(131, 131, 131);
    }
    
    .form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
        /* border: 2px solid #333; */
        background-color: #28a75d;
    }

.chart-line {
    fill: none;
    stroke: #28a75d;
    stroke-width: 2px;
}    

.chart-area {
    fill: #28a75d;
    stroke: #28a75d;
    stroke-width: 2px;
}    

.axis-label {
    font-weight:800;
}

/* .tooltip {
    font-weight:800;
} */

#tooltip{
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
    z-index: 1;
  }
  
.tooltip-title {
color: #000;
font-size: 14px;
font-weight: 600;
}

#tooltip ul, #tooltip2 ul{
margin: 5px 0 0 0;
padding-left: 20px;
}

h2 {
    color: white;
    text-align: center;
    margin: auto;
}